#video{
    // width: 10em;
    // height: 12em;
    // border: 1px solid black;
    text-align: center;
    // font-size: xx-large;
}

#thumbnail{
    text-align: center;
    cursor:pointer;
    text-align: center;
}